html, body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

@media only screen and (max-width: 767px) {
    /* Set background color to white on small screens */
    body {
      /* Visual */
      background-color: black;
    }
  }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* --- HOME PAGE ---*/
.carousel {
  padding-bottom: 20px
}

#summary-table {
  margin: 20px;
  overflow-y: auto;
  height: 300px;
  table-layout: fixed;
}

.row2 {
  margin: 20px;
  overflow-y: auto;
  height: 300px;
  table-layout: fixed;
}

/* ----Methods page - DESCRIPTION START---- */
.description-header {
    margin-bottom: 33px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: black;
  }
  
  .description-content {
    /* Box-model */
    padding: 30px;
  
    /* Positioning */
    margin-top: 32px;
  
    /* Visual */
    background-color: black;
  }
  
  .description-content > p {
    /* Box-model */
    padding-top: 20px;
  
    /* Typography */
    font-size: 16px;
    line-height: 30px;
    color: slategray;
  }
  
  .description-text {
    padding-bottom: 20px;
  }
  
  #description-image {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  /* Description content media query */
  @media only screen and (max-width: 767px) {
    /* override default class styling for positioning/padding */
  
    .description-content {
      /* Box-model */
      padding: 0;
  
      /* Positioning */
      margin-top: 0;
    }
  }

/* ----Methods Pages - IMAGE NAV START---- */
.item {
    margin: auto;
}

#imageNav-area {
    width: 100%;
  
    /* Box-model */
    padding: 30px 30px 43px;
  
    /* Positioning */
    margin-top: 32px;
  
    /* Visual */
    background-color: black;
  }
  
  .imageNav-header {
    margin-bottom: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
  }
  
  .imageNav-photo {
    width: 140px;
  
    /* Box-model */
    height: 140px;
  }
  
  .imageNav-photod {
    height: 35%;
    width: 35%;
  }
  
  .imageNav-photo:hover {
    /* Visuals */
    opacity: 0.6;
  }
  
  .imageNav-photo.active {
    /* Visuals */
    border: 2px solid blue;
  }
  
  #images {
    /* Box-model */
    padding-top: 15px;
  
    /* Typography */
    text-align: center;
  }
  
  /* ----IMAGE NAV END---- */

  /* --PREDICT PAGE --*//
  .form-group {
    color: whitesmoke;
  }

  /* --DATASET PAGE -- */
  .dataset-body {
    padding: 0;
    background-color: black;
  }
