{% extends "layout.html" %}

{% block content %}

<h1 style="color: whitesmoke"><strong>Contact Information</strong></h1>

<address style="color: whitesmoke">
    <p><p style="padding-top: 15px; font-size:18px">Christin Whitlock</p>
    LinkedIn: <a href="mailto:christinw@nevada.unr.edu">https://www.linkedin.com/in/christin-whitlock-8944b4b0/</a></p>
    <br>
    <p><p style="font-size:18px">Sumit Malik</p>
    LinkedIn: <a href="mailto:email@email.com">http://linkedin.com/in/sumit-malik-pmp-csm-68235a10</a></p>
    <br>
    <p><p style="font-size:18px">Sreedevi Agasthya</p>
    LinkedIn: <a href="mailto:email@email.com">https://www.linkedin.com/in/sreedeviagasthya/</a></p>
    <br>
    <p><p style="font-size:18px">Isha Iqbal</p>
    LinkedIn: <a href="mailto:email@email.com">https://www.linkedin.com/in/isha-iqbal/</a></p>
    <br>
    <p><p style="font-size:18px">Chris Simmons</p>
    LinkedIn: <a href="mailto:email@email.com">https://www.linkedin.com/in/atlchris/</a></p>
    <br>
    <p><p style="font-size:18px">Jason Cook</p>
    LinkedIn: <a href="mailto:email@email.com">https://www.linkedin.com/in/jason-cook-297b6748/</a></p>
    <br>
</address>

{% endblock %}
