{% extends "layout.html" %}

{% block content %}

<h1><strong>Contact Information</strong></h1>

<address>
    <p><p style="padding-top: 15px; font-size:18px">Christin Whitlock</p>
    <strong>Email:</strong><a href="mailto:christinw@nevada.unr.edu">christinw@nevada.unr.edu</a></p>
    <br>
    <p><p style="font-size:18px">Sumit Malik</p>
    <strong>Email:</strong><a href="mailto:email@email.com">email@email.com</a></p>
    <br>
    <p><p style="font-size:18px">Sree</p>
    <strong>Email:</strong><a href="mailto:email@email.com">email@email.com</a></p>
    <br>
    <p><p style="font-size:18px">Isha</p>
    <strong>Email:</strong><a href="mailto:email@email.com">email@email.com</a></p>
    <br>
    <p><p style="font-size:18px">Chris Simmons</p>
    <strong>Email:</strong><a href="mailto:email@email.com">email@email.com</a></p>
    <br>
    <p><p style="font-size:18px">Jason Cook</p>
    <strong>Email:</strong><a href="mailto:email@email.com">email@email.com</a></p>
    <br>
</address>

{% endblock %}
