{% extends "layout.html" %}

{% block content %}

<h1 style="color: whitesmoke"><strong>Contact Information</strong></h1>

<address style="color: whitesmoke">
    <p><p style="padding-top: 15px; font-size:18px">Christin Whitlock</p>
    Email: <a href="mailto:christinw@nevada.unr.edu">christinw@nevada.unr.edu</a></p>
    <br>
    <p><p style="font-size:18px">Sumit Malik</p>
    Email: <a href="mailto:email@email.com">email@email.com</a></p>
    <br>
    <p><p style="font-size:18px">Sreedevi Agasthya</p>
    Email: <a href="mailto:email@email.com">email@email.com</a></p>
    <br>
    <p><p style="font-size:18px">Isha Iqbal</p>
    Email: <a href="mailto:email@email.com">email@email.com</a></p>
    <br>
    <p><p style="font-size:18px">Chris Simmons</p>
    Email: <a href="mailto:email@email.com">email@email.com</a></p>
    <br>
    <p><p style="font-size:18px">Jason Cook</p>
    Email: <a href="mailto:email@email.com">email@email.com</a></p>
    <br>
</address>

{% endblock %}
