{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron" style = "color: #1C2833">
      <h1 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif">
        Diabetes Machine Learning Predictor
      </h1>
      <p></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-body" style="color: #1C2833">
            <h2><strong>Project Summary</strong></h2>
          </div>
        </div>
        <div class="company">
            <p style="color: whitesmoke">Our project is based on data from the National Institute of Diabetes and Digestive and Kidney Diseases regarding potential predicting 
              factors of diabetes among females at least 21 years old of Pima Indian heritage. The size of the dataset is just over 700, and records 
              factors such as number of pregnancies, glucose, blood pressure, skin thickness, insulin, BMI, Diabetes Pedigree Function, and age among
              participants. 
              <br>
              <br>
              The purpose of this project was to create a machine learning tool that will predict whether someone has diabetes or not, depending on the 
              factors mentioned above. Our team tested out the accuracy of four different Machine Learning Classification Models (Decision Tree, Gradient 
              Boosting, KNeighbor, and Logistic Regression), decided that the Logistic Regression model was the most accurate when looking at the F1-Score, 
              precision, accuracy, and recall.</p>
        </div>
      </div> <!--end of first col-->
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body" style = "color: #1C2833">
            <p><strong>What are we working with?</strong></p>
          </div>
          <img src="../static/data/Diabetes Plots/heatmap3.png" alt="Correlation Matrix" class="img-responsive" style = "width: 100%; height: 300px"/>
          <p style="padding-top:15px; padding-left: 10px; color: #1C2833">Looking at this correlation matrix heat map of the data selected, it is clear that the variable with the greatest correlation to diabetes is, 
            unsurprisingly, glucose levels, with a 47% correlation. Following that, it doesn't appear that any of the other variables are significant
            enough on their own to affect someone's likelihood of having diabetes, but BMI, with a 29% correlation, Age, with a 24% correlation, and 
            number of pregnancies, with a 22% correlation.
          </p>
        </div>
      </div> <!--end of second column-->
    </div> <!--end of row-->

    <!--tableau visuals-->
    <div class="row">
        <div id="vizContainer" style="width:800px; height:700px;"></div>
        <div id="controls" style="padding:20px;">
            <button style="width:100px;" onclick="javascript:createViz(-1);">Previous</button>
            <button style="width:100px;" onclick="javascript:createViz(1);">Next</button>
        </div>
    </div>

    <!-- table with data; need to fix/populate table using plots.js file -->
    <div class="row">
      <div class="col-md-12">
        <table id="summary-table" class="table table-striped table-inverse">
          <thead>
            <tr>
              <th>Pregnancies</th>
              <th>Glucose</th>
              <th>BloodPressure</th>
              <th>SkinThickness</th>
              <th>Insulin</th>
              <th>BMI</th>
              <th>DiabetesPedigreeFunction</th>
              <th>Age</th>
              <th>Outcome</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="../static/scripts/plots.js"></script>

{% endblock %}


