{% extends "layout.html" %}

{% block content %}

<div class="container">
    <section class="row">
      <div class="column">
        <article class="description-content">
          <h1 class="description-header" style = "color: whitesmoke"><strong>The Logistic Regression Classification Model</strong></h1>
          <hr class="description-hr"/>
          <img src="../static/data/ML Plots/images/LR_CM.png" alt="Logistic Regression Confusion Matrix" class="img-responsive" style = "float: left; padding-right: 20px; padding-bottom: 20px"/>
          <p class = "description-content">Although the classification model with the highest weighted average F1-Score was tied between the Gradient Boosting Classification model
             and the Logistic Regression model, the model chosen for this machine learning tool was the latter. Although this model had the same F1-Score of 0.77 and precision ratio of 0.61 
             as the Gradient Boosting Classification model,  the accuracy and recall are just slightly better. 
            <br>
            <br>
            Based on this confusion matrix comparing the predicted and actual values of the Logistic Regression machine learning model, 
            it is apparent that the model created is fairly accurate; when you take all true postive and true negative predictions and divide them by the total observations, 
            you get about 0.78, which is the highest out of all four models created and tested. 
            <br>
            <br>
            The high wieghted average precision rate leads to a similar conclusion; about 77% of predictions ended up being correct,proving that it does have a good level of precision. 
            <br>
            <br>
            <img src="../static/data/ML Plots/images/LR_CM_Details.png" alt="Logistic Regression Confusion Matrix Details" class="img-responsive" style = "width: 100% vertical-align: center"/>
            <br>
            <br>
            Furthermore, this model has a weighted average recall ratio of 0.78, which is pretty good. This shows that 
            the model has a 78% chance of correctly predicting positive or negative observations compared to the total 
            number of actual positive or negative observations. 
            <br>
            <br>
             Lastly, when you look at the F1-Score, which is the weighted average of the precision and recall of the model, it is evident that the previous 
             observations are further confirmed. With a weighted average F1-score of 0.77, it is safe to say that this model could be reliable for predicting diabetes, 
             but is not as reliable as the Gradient Booster Classification method.
            </p>
        </article>
      </div>

      </div>
    </section>
  </div>

{% endblock %}
