{% extends "layout.html" %}

{% block content %}

<h2 style="color: whitesmoke">{{ title }}</h2>
<h3 style="color: whitesmoke">{{ message }}</h3>

<form class="form-horizontal" action="/results" method="POST">
    <div class="form-group">
        <label class="control-label col-sm-2" for="pregnancies" style="color: whitesmoke">Pregnancies:</label>
        <div class="col-sm-10">
            <input class="form-control"  step="1" id="pregnancies" name="pregnancies"  type="number" required min="0" max="20">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="glucose" style="color: whitesmoke">Glucose (mg/dL):</label>
        <div class="col-sm-10">
            <input class="form-control"  id="glucose" name="glucose" required type="number" step="0.01">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="blood_pressure" style="color: whitesmoke">Blood Pressure (mm Hg):</label>
        <div class="col-sm-10">
            <input class="form-control"  id="blood_pressure" name="blood_pressure" required type="number"
                step="1">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="skin_thickness" style="color: whitesmoke">Skin Thickness (μm):</label>
        <div class="col-sm-10">
            <input class="form-control"  id="skin_thickness" name="skin_thickness" required type="number"
                step="0.01">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pregnancies" style="color: whitesmoke">Insulin (mIU/L):</label>
        <div class="col-sm-10">
            <input class="form-control"  id="insulin" name="insulin" required type="number" step="0.01">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="bmi" style="color: whitesmoke">BMI (kg/m2): </label>
        <div class="col-sm-10">
            <input class="form-control" id="bmi" name="bmi" required type="number"  step="0.01">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="diabetes_pedigree_function" style="color: whitesmoke">Diabetes Pedigree Function (put 0 if n/a):</label>
        <div class="col-sm-10">
            <input class="form-control" id="diabetes_pedigree_function" name="diabetes_pedigree_function"
                required type="number" step="0.01">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="age" style="color: whitesmoke">Age:</label>
        <div class="col-sm-10">
            <input class="form-control"  id="age" name="age" required type="number" step="1"  min="0" max="120">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>



{% endblock %}